<label for="howto-selector">How-to's Available:</label>
<select name="howto-selector" (change)="selectHowto($event)">
  <option value="none">Select a How-To</option>
  <option value="comp-comm">
    Communication Between Components with Service
  </option>
  <option value="set-style-code">Set Element Style Using Code</option>
  <option value="control-error-message">Control Error Message</option>
  <option value="http-api-calls">HTTP API Calls</option>
  <option value="state-with-ngrx">Manage State With NgRx</option>
</select>

<app-communication-with-service
  *ngIf="selectedHowTo === 'comp-comm'"
></app-communication-with-service>

<app-set-style-from-code
  *ngIf="selectedHowTo === 'set-style-code'"
></app-set-style-from-code>

<app-http-api-calls
  *ngIf="selectedHowTo === 'http-api-calls'"
></app-http-api-calls>

<app-control-error-message *ngIf="selectedHowTo === 'control-error-message'">
</app-control-error-message>

<div *ngIf="selectedHowTo === 'state-with-ngrx'">
  <p>
    TODO: Integrate refresh state into the same state object as the local
    collection to better check against the collection when refreshing.
  </p>
  <h2>Books</h2>
  <app-book-list
    class="book-list"
    [books]="(books$ | async)!"
    (add)="onAdd($event)"
  ></app-book-list>

  <h2>My Collection</h2>
  <app-book-collection
    class="book-collection"
    [books]="(bookCollection$ | async)!"
    (remove)="onRemove($event)"
  >
  </app-book-collection>
</div>
