<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedContacts()" [disabled]="!selectedContacts || !selectedContacts.length"></button> -->
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="contacts" [columns]="cols" [rows]="10"
        [globalFilterFields]="['first_name','last_name','email']" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [rowHover]="true" [loading]="isContactsLoading" responsiveLayout="stack">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h3 class="m-0">Manage Contacts</h3>
            <span class="block mt-2 md:mt-0 p-input-icon-left relative">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th pSortableColumn="first_name">First Name <p-sortIcon field="first_name"></p-sortIcon></th>
            <th pSortableColumn="last_name">Last Name <p-sortIcon field="last_name"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <!-- <th pSortableColumn="company">Company <p-sortIcon field="company"></p-sortIcon></th> -->
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contact>
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="contact"></p-tableCheckbox>
            </td> -->
            <td style="width:25%;">
              <span class="p-column-title">First Name</span>
              {{contact.first_name}}
            </td>
            <td style="width:25%;">
              <span class="p-column-title">Last Name</span>
              {{contact.last_name}}
            </td>
            <td style="width:25%;">
              <span class="p-column-title">Email</span>
              {{contact.email}}
            </td>
            <!-- <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Company</span>
              {{contact.company}}
            </td> -->
            <td>
              <span class="p-column-title">Action</span>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editContact(contact)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteContact(contact)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="contactDialog" [style]="{width: '450px'}" header="Contact Details" [modal]="true"
      class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">First Name</label>
          <input type="text" pInputText id="first_name" [(ngModel)]="contact.first_name" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.first_name}" class="w-full"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !contact.first_name">First Name is required.</small>
        </div>
        <div class="field">
          <label for="name">Last Name</label>
          <input type="text" pInputText id="last_name" [(ngModel)]="contact.last_name" required 
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.last_name}" class="w-full"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !contact.last_name">Last Name is required.</small>
        </div>
        <div class="field">
          <label for="name">Email</label>
          <input type="text" pInputText id="email" [(ngModel)]="contact.email" required
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.email}" class="w-full"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !contact.last_name">Email is required.</small>
        </div>
        <div class="field">
          <label for="name">Company</label>
          <input type="text" pInputText id="company" [(ngModel)]="contact.company" class="w-full"/>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContact()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteContactDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="contact">Are you sure you want to delete this contact?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteContactDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteContactsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected contacts?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteContactsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>