<div class='component'>
  <h3>Sparrow Component</h3>
  <p>This component sends a message to a shared service.</p>
  <p>What sound does the Sparrow make?</p>
  <input
    type="radio"
    name="bird-noise"
    id="tweet"
    value="tweet"
    (change)="makeBirdNoise($event)"
  />
  <label for="tweet">Tweet Tweet</label><br />
  <input
    type="radio"
    name="bird-noise"
    id="peep"
    value="peep"
    (change)="makeBirdNoise($event)"
  />
  <label for="tweet">Peep Peep</label><br />
  <input
    type="radio"
    name="bird-noise"
    id="td"
    value="td"
    (change)="makeBirdNoise($event)"
  />
  <label for="td">Tweetle Dee</label><br />
  <input
    type="radio"
    name="bird-noise"
    id="meow"
    value="meow"
    (change)="makeBirdNoise($event)"
  />
  <label for="meow">Meow Meow</label><br />
</div>